00-builds-automation/samples/backend/bin
00-builds-automation/samples/backend/obj
00-builds-automation/samples/backend/appsettings.Development.json

00-builds-automation/samples/frontend/node_modules
